# --- CONFIGURACIÓN DEL FRONTEND (Vite) ---
# URL de la API de tu servidor (en Render o localhost)
VITE_API_URL=https://tu-backend-en-render.onrender.com/api/v1

# --- CONFIGURACIÓN DEL BACKEND (Node.js) ---
# Cadena de conexión de MongoDB Atlas
MONGO_URI=mongodb+srv://usuario:password@cluster.mongodb.net/nombre_bd

# Palabra secreta para firmar los Tokens (JWT)
JWT_SECRET=escribe_aqui_una_clave_secreta_y_larga

# Puerto donde correrá el servidor local
PORT=3000